@use './var.scss' as *;

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  font-family: 'Roboto', 'Inter', sans-serif;
  @apply text-neutral-800 dark:text-neutral-200 bg-neutral-50 dark:bg-neutral-900;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('~/assets/img/noise.png') center repeat;
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -1;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 8px;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  &.dark {
    body::before {
      filter: invert(0.8);
    }
    ::-webkit-scrollbar-thumb {
      background: #444;
    }
  }
}

#__nuxt {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s ease-in-out;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.prose a:not(.not-prose, .not-prose *, .tag),
.toc a {
  text-decoration: none;
  @apply border-b-1 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-600;
}

.prose {
  pre {
    background-color: rgb(239, 241, 245);
  }
  strong {
    font-weight: 800;
  }
}

html.dark {
  .prose {
    pre {
      background-color: rgb(43, 46, 55);
    }
  }
}
