:root {
  --view-width: 1640px;
  --view-padding: clamp(1rem, 0.7142857142857143rem + 1.4285714285714286vw, 2rem);
  --shiki-default: var(--color-slate-600);
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  color-scheme: dark;
}

body {
  position: relative;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

html ::-webkit-scrollbar-track {
  background: transparent;
}

html ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 4px;
}

.indicator-dot {
  position: relative;
}
.indicator-dot::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transform: translateX(-50%) scale(0);
  background-color: var(--color-slate-200);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}
.indicator-dot.active {
  font-weight: bold;
  opacity: 1;
  transform: scale(1);
}
.indicator-dot.active::after {
  transform: scale(1);
}

@font-face {
  font-family: 'montserrat';
  src: url('/montserrat.ttf') format('truetype');
}

@font-face {
  font-family: 'ruigslay';
  src: url('/ruigslay.ttf') format('truetype');
}
