.prose :not(pre) > code {
  white-space: break-spaces;
}

.callout {
  ul,
  ol {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  strong {
    color: inherit;
    font-weight: bold;
  }
}

.prose img {
  max-width: 100%;
  margin: auto;
}
